#top {
    width: 20rem;
    height: 10rem;
    background-color: #EE851C;
    border-radius: 10rem 10rem 1rem 1rem;
    position: absolute;
}

#salad {
    width: 18rem;
    height: 1.5rem;
    border-radius: 10px;
    background-color: #A8E008;
    position: relative;
    top: 10rem;
    left: 1rem;
}

#tomato {
    width: 18rem;
    height: 1.3rem;
    border-radius: 10px;
    background-color: #EA0802;
    position: relative;
    top: 1.5rem;
}

#cheese {
    width: 18rem;
    height: 0.8rem;
    border-radius: 10px;
    background-color: #FFDD42;
    position: relative;
    top: 1.3rem;
}

#burger{
    width: 18rem;
    height: 02rem;
    border-radius: 10px;
    background-color: #792B1C;
    position: relative;
    top: 0.8rem;
}
