
#all {
    display: flex;
    gap: 5rem;
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% round;
  }

#hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 2rem;
}

.bun {
    background-color: #EE851C;
}

#top {
    width: 20rem;
    height: 10rem;
    border-radius: 10rem 10rem 1rem 1rem;
    position: relative;
}

#inside {
    position: relative;
    left: 1rem;
}

#salad {
    width: 18rem;
    height: 1.5rem;
    border-radius: 10px;
    background-color: #A8E008;
}

#tomato {
    width: 18rem;
    height: 1.3rem;
    border-radius: 10px;
    background-color: #EA0802;
}

#cheese {
    width: 18rem;
    height: 1rem;
    border-radius: 1rem 1rem 20rem 20rem;
    background-color: #FFDD42;
}

#burger{
    width: 18rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #792B1C;
    z-index: -1;
}

#bottom {
    width: 20rem;
    height: 5rem;
    border-radius: 1rem 1rem 10rem 10rem;
}

.seed {
    background-color: #792B1C;
    width: 0.5rem;
    height: 0.3rem;
    border-radius: 50%;
    position: absolute;
}

.seed:nth-child(1) {
    top: 3rem;
    left: 5rem;
}

.seed:nth-child(2) {
    top: 3rem;
    left: 10rem;
}

.seed:nth-child(3) {
    top: 3rem;
    left: 15rem;
}

.seed:nth-child(4) {
    top: 6rem;
    left: 3rem;
}

.seed:nth-child(5) {
    top: 6rem;
    left: 7rem;
}

.seed:nth-child(6) {
    top: 6rem;
    left: 12rem;
}

.seed:nth-child(7) {
    top: 6rem;
    left: 17rem;
}

.seed:nth-child(8) {
    top: 8rem;
    left: 5rem;
}

.seed:nth-child(9) {
    top: 8rem;
    left: 10rem;
}

.seed:nth-child(10) {
    top: 8rem;
    left: 15rem;
}