body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  .main {
    flex: 1;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
  }
  
.left .tile-image {
    width: 300px;
    height:200px;
    float: left;
    padding-right: 20px;
}  

.left .card-title {
    padding-top: 50px;
}

.right .tile-image {
    width: 300px;
    height:200px;
    float: left;
    padding-right: 20px;
}  

.right .card-title {
    padding-top: 50px;
}